@page "/settingsdevicedelete/{id}"
@using LeDi.Shared.DtoModel;
@using LeDi.WebClient.Data
@inject LeDi.Shared.Api Api
@inject NavigationManager NavigationManager

<PageTitle>LeDi - Confirm Deletion of Device</PageTitle>


<h1>Confirm Deletion of Device</h1>

@if (ToDeleteDevice == null)
{
    <p><em>Loading Device...</em></p>
}
else
{
    <p>Confirm the deletion of device @Id:</p>
    <EditForm Model="@ToDeleteDevice" OnValidSubmit="@ConfirmDelete">       
        
        <button class="btn btn-warning" type="submit">Confirm Delete</button>
        <button class="btn btn-danger" type="button" @onclick="CancelDelete">Cancel Delete</button>
    </EditForm>
}

@code {
    [Parameter]
    public string Id { get; set; } = "";

    private DtoDevice ToDeleteDevice = new DtoDevice("", "", "");

    protected override async Task OnInitializedAsync()
    {
        var devices = await Api.GetDeviceAsync();
        if (devices == null || devices.Count == 0)
            return;

        ToDeleteDevice = devices.SingleOrDefault(x => x.DeviceId == Id) ?? new DtoDevice("","","");
    }

    private void CancelDelete()
    {
        NavigationManager.NavigateTo("/settings");
    }

    private async void ConfirmDelete()
    {
        await Api.DeleteDeviceAsync(Id);

        NavigationManager.NavigateTo("/settings");
        await Api.AddMatchAsync(new DtoMatch());

    }
}
