@page "/"
@using Tiwaz.Shared.DtoModel
@inject Tiwaz.Shared.Api Api

<PageTitle>Current Match</PageTitle>

<a style="font-size:40pt">2:1</a><br />
Schlickteufel vs. Test<br />
<br />
Restzeit:<br />
<a style="font-size:40pt">4:21</a><br />
<br />
Tore:<br />
4 - Heiner Bego (2:31)      1 - Lin Kebazille (1:02)<br />
8 - Jan Täuscher (4:21)<br />
<br />
Strafzeiten<br />
- keine -                   12 - Nathan Walker (0:23)<br />

@code {
    //DtoMatch Match = new DtoMatch();


    //protected override async Task OnInitializedAsync()
    //{
    //    Match = await Api.GetMatchAsync();

    //}
}