@page "/"
@using Tiwaz.Shared.DtoModel
@using Tiwaz.WebClient.Components
@inject Tiwaz.Shared.Api Api

<PageTitle>Current Match</PageTitle>

<a style="font-size:40pt">2:1</a><br />
Schlickteufel vs. Test<br />
<br />
Restzeit:<br />
<a style="font-size:40pt">4:21</a><br />
<br />
Tore:<br />
4 - Heiner Bego (2:31)      1 - Lin Kebazille (1:02)<br />
8 - Jan Täuscher (4:21)<br />
<br />
Strafzeiten<br />
- keine -                   12 - Nathan Walker (0:23)<br />


@code {
    DtoMatch Match = new DtoMatch();

    protected override async Task OnInitializedAsync()
    {
        var matches = await Api.GetMatchListAsync();
        if (matches.Count > 1)
        {
            var runningMatches = matches.Where(x => x.MatchStatus == 2); //0 = undefined, 1 = planned, 2 = running, 3 = ended
            if (runningMatches.Count() > 1)
            {
                //More than one match to show. Show modal dialog to select.
                //todo
            }
            else if (runningMatches.Count() == 0)
            {
                //No match to show.
                //todo
            }
            else
            {
                // The only match that makes sense to show.
                Match = runningMatches.First();
            }
        }
    }
}