@page "/Start"

<PageTitle>Start Page</PageTitle>

<a class="btn btn-primary" href="Sportart" role="button">
    Neues Spiel
</a>
<br />
<br />
<a class="btn btn-primary" href="Sportart" role="button">
    Spiel laden
</a>
<br />
<br />
<a class="btn btn-primary" href="Sportart" role="button">
    Einstellungen
</a>
<br />
<br />
<a class="btn btn-primary" href="Sportart" role="button">
    etc
</a>

