@page "/Start"

<PageTitle>Tablet Start Page</PageTitle>

<a class="btn btn-primary fs-1" style="display:block; width:100%" href="Sportart" role="button">New Match</a>
<br />
<br />
<a class="btn btn-primary fs-1" style="display:block; width:100%"  href="Sportart" role="button">Load Match</a>
<br />
<br />
<a class="btn btn-primary fs-1" style="display:block; width:100%"  href="settings" role="button">Settings</a>
<br />
<br />
<a class="btn btn-primary fs-1" style="display:block; width:100%"  href="Sportart" role="button">etc</a>
<br />
<br />