@page "/"

<PageTitle>LeDi</PageTitle>

<h1>@pageTitle</h1>
@pageText


@code {
    string pageTitle = "";
    string pageText = "";

    protected override async Task OnInitializedAsync()
    {
        var pageTitleObj = await DataHandler.GetSettingAsync("welcometitle");
        var pageTextObj = await DataHandler.GetSettingAsync("welcometext");
        pageTitle = pageTitleObj == null ? "Welcome" : pageTitleObj.SettingValue;
        pageText = pageTextObj == null ? "" : pageTextObj.SettingValue;
    }
}
