@page "/"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> Localizer

<PageTitle>LeDi</PageTitle>

<h1>@PageTitle</h1>
@PageText

<br />

@*Column examples*@
@*https://getbootstrap.com/docs/5.0/layout/columns/*@
@*Icons: https://www.appstudio.dev/app/OpenIconic.html*@
<div class="container-fluid h-100" style="height:90vh; min-height:90vh; flex-grow:1;">
    @*Visible for all*@
    <div class="row align-items-start" style="height:30vh; min-height:30vh;">
        <div class="col-8 p-0 m-0" style="height:100%; min-height:100%;">
            <div style="height:100%; min-height:100%;" class="p-1">
                <a class="btn btn-primary fs-3" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" href="dashboard" role="button"><span class="oi oi-dashboard" aria-hidden="true" /> @Localizer["Dashboard"]</a>
            </div>
        </div>
        <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
            <div style="height:100%; min-height:100%;" class="p-1">
                <a class="btn btn-secondary fs-3" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" href="resultlist" role="button"><span class="oi oi-dashboard" aria-hidden="true" /> @Localizer["Results"]</a>
            </div>
        </div>
    </div>

    @*Only visible for logged in referees*@
    <div class="row align-items-start" style="height:30vh; min-height:30vh;">
        <div class="col-8 p-0 m-0" style="height:100%; min-height:100%;">
            <div style="height:100%; min-height:100%;" class="p-1">
                <AuthorizeView Roles="Att-CanMatchStart,Att-IsAdmin">
                    <Authorized>
                        <a class="btn btn-secondary fs-3" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" href="matchcontrol" role="button"><span class="oi oi-target" aria-hidden="true" /> @Localizer["RefereeMatch"]</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
        <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
            <div style="height:100%; min-height:100%;" class="p-1">
                <AuthorizeView Roles="Att-CanMatchStart,Att-IsAdmin">
                    <Authorized>
                        <a class="btn btn-secondary fs-3" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" href="matchplanning" role="button"><span class="oi oi-list" aria-hidden="true" /> @Localizer["MatchList"]</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>

    @*Visible for operators*@
    <div class="row align-items-start" style="height:30vh; min-height:30vh;">
        <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
            <div style="height:100%; min-height:100%;" class="p-1">
                <AuthorizeView Roles="Att-CanMatchAdd,Att-IsAdmin">
                    <Authorized>
                        <a class="btn btn-secondary fs-3" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" href="@LinkNewMatch" role="button"><span class="oi oi-plus" aria-hidden="true" /> @Localizer["NewMatch"]</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
        <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
            <div style="height:100%; min-height:100%;" class="p-1">
                <AuthorizeView Roles="Att-CanTournamentAdd,Att-IsAdmin">
                    <Authorized>
                        <a class="btn btn-secondary fs-3" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" href="tournamentadd" role="button"><span class="oi oi-plus" aria-hidden="true" /> @Localizer["ManageTournaments"]</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
        <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
            <div style="height:100%; min-height:100%;" class="p-1">
                <AuthorizeView Roles="Att-CanSettingManage,Att-IsAdmin">
                    <Authorized>
                        <a class="btn btn-secondary fs-3" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" href="settings" role="button"><span class="oi oi-cog" aria-hidden="true" /> @Localizer["Settings"]</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</div>