@page "/test"
@inject Microsoft.Extensions.Localization.IStringLocalizer<SettingsDevice> Localizer

<PageTitle>LeDi - Testpage</PageTitle>
@*https://demos.getblazorbootstrap.com/buttons*@

@*For OpenIconic icons see https://useiconic.com/open*@
@*or https://icon-sets.iconify.design/oi/*@

@*For FontAwesome Icons see https://fontawesome.com/v4/icons/*@
@*or https://fontawesome.com/?utm_source=v4_homepage&utm_medium=display&utm_campaign=fa5_released&utm_content=banner*@


<div class="container-fluid h-100" style="height:90vh; min-height:60vh; flex-grow:1;">
    <div class="row align-items-start" style="height:20vh; min-height:20vh;">
        <div class="col-8 p-0 m-0" style="height:100%; min-height:100%;">
            <div style="height:100%; min-height:100%;" class="p-1">
                <a class="btn btn-primary fs-3" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" href="matchcontrol" role="button"><span class="oi oi-target" aria-hidden="true" />Row1 Element 1+2 of 3</a>
            </div>
        </div>
        <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
            <div style="height:100%; min-height:100%;" class="p-1">
                <a class="btn btn-secondary fs-3" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" href="dashboard" role="button"><span class="oi oi-dashboard" aria-hidden="true" /> Row1 Element 3 of 3</a>
            </div>
        </div>
        <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
            <div style="height:100%; min-height:100%;" class="p-1">
                <a class="btn btn-secondary fs-3" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" href="dashboard" role="button"><span class="oi oi-dashboard" aria-hidden="true" /> Row1 Element 4 of 3</a>
            </div>
        </div>
    </div>
</div>


<a>Button styles:</a><br />
<button class="btn btn-primary" @onclick="IncrementCount">Primary</button><br />
<button class="btn btn-outline-primary" @onclick="IncrementCount">outline-Primary</button><br />
<button class="btn btn-secondary" @onclick="IncrementCount">Secondary</button><br />
<button class="btn btn-outline-secondary" onclick="IncrementCount">outline-secondary</button><br />
<button class="btn btn-danger" @onclick="IncrementCount">danger</button><br />
<button class="btn btn-outline-danger" @onclick="IncrementCount">outline-danger</button><br />
<button class="btn btn-dark" @onclick="IncrementCount">dark</button><br />
<button class="btn btn-outline-dark" @onclick="IncrementCount">outline-dark</button><br />
<button class="btn btn-success" @onclick="IncrementCount">success</button><br />
<button class="btn btn-outline-success" @onclick="IncrementCount">outline-success</button><br />
<button class="btn btn-info" @onclick="IncrementCount">info</button><br />
<button class="btn btn-outline-info" @onclick="IncrementCount">outline-info</button><br />
<button class="btn btn-light" @onclick="IncrementCount">light</button><br />
<button class="btn btn-outline-light" @onclick="IncrementCount">outline-light</button><br />
<button class="btn btn-check" @onclick="IncrementCount">check</button><br />
<button class="btn btn-close" @onclick="IncrementCount">close</button><br />
<button class="btn btn-close-white" @onclick="IncrementCount">close-white</button><br />
<button class="btn btn-lg" @onclick="IncrementCount">lg</button><br />
<button class="btn btn-link" @onclick="IncrementCount">link</button><br />
<button class="btn btn-toolbar" @onclick="IncrementCount">toolbar</button><br />

<br />
<br />
<br />

<a>Text size/style</a>
<a class="fs-1">fs1</a><br />
<a class="fs-2">fs2</a><br />
<a class="fs-3">fs3</a><br />
<a class="fs-4">fs4</a><br />
<a class="fs-5">fs5</a><br />
<a class="fs-6">fs6</a><br />
<a class="fs-italic">fs-italic</a><br />
<a class="fs-normal">fs-normal</a><br />

Pulsing Circle:
<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
