@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inherits LayoutComponentBase
@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> Localizer
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>LeDi Manager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col bb-top-row px-4 d-flex justify-content-start">
                    <a class="fw-bold fs-5 text-decoration-none">@CurrentText</a>
                </div>
                <div class="col bb-top-row px-4 d-flex justify-content-end">
                    <LoginDisplay />
                    <a href="/about">About</a>
                </div>
            </div>
        </div>
        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>
</div>

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>        
        <div class="top-row px-4 auth">                
            <LoginDisplay />
            <a href="/about">About</a>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@